.DateButton {
    
}

/* #Xmas-button {
    background-color: green;
}

#NY-button {
    background-color: blue;
}

#VDay-button {
    background-color: red;
}

#Fth-button {
    background-color: red;
}

#SPDay-button {
    background-color: green;
} */

#Xmas-button:hover {
    background-color: #40531B;
    color: #9B2915;
}

#NY-button:hover {
    background-color:#black;
    color: white;
}

#VDay-button:hover {
    background-color: #8E3B46;
    color: #E0777D;
}

#tomorrow-button:hover {
    background-color: gray;
}

#Fth-button:hover {
    background-color: red;
    color: rgb(0, 0, 172);
}

#SPDay-button:hover {
    background-color: orange;
    color: #618B4A;
}




.row {
    padding: 10px;
}
.btn {
    width: 150px;
    text-align: center;
    margin: auto;
    width: 100%;#
    padding: 10px;
    border: 1px solid black;
}
#DateDisplay {
    text-align: center;
    font-size: 100px;
}
#title {
    text-align: center;
}