.DateButton {
    
}

.row {
    padding: 10px;
}
.btn {
    width: 150px;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 10px;
}
#DateDisplay {
    text-align: center;
    font-size: 100px;
}
#title {
    text-align: center;
}